/*STARTER CODE*/

/*
We have started some of the selectors for you.
For others we have provided hints on what the selectors should be.
There are some missing selectors.
Make sure to learn what the starter code does!!
*/

/*STARTER CODE - DO NOT CHANGE*/
main{
  margin-bottom: 100px;
}

caption{
  margin:5px 0px;
}

/* If you decide to uncomment this code, comment it back for the Autograder. */
/* tr{
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
} */

/*END STARTER CODE*/

body{
  color: #000000;
  font-size: 16px;
  margin: 1.2em;
  background-size: cover ;
  background-position: center;

  /*Req 1*/
  font-family: 'Andika', sans-serif;/*Andika font (you will need to use a Google Fonts link) with sans-serif fallback*/
  
  background-image: url('../images/pigeon-background.JPEG'); /*background image*/
  background-color: #DDDDDD; /*grey fallback color*/
  background-position: center; /* center image */
  background-repeat: no-repeat; /* don't repeat */
  background-size: cover; /* takes up entire page */
}

h1{
  color: #c12258;
  font-size: 2em;

  /*Req 2*/
  font-size: 32px; /*The h1 element should be 32px*/ 
  text-align: center; /*centered*/
  line-height: 2; /*“double-spaced” - so adjust the line height.*/
}

p{
  padding-top: 15px; /*15px of padding on the top only*/
}

a{
  font-size: 16px;/*Links should be 16px*/
  color: #B21F50;/*TO DO: CHECK WITH dark red (either #C12258, #B21F50, or #B92751) which passes Wave*/ 
  
  /*with a wavy underline*/
  text-decoration-line: underline;
  text-decoration-style: wavy;
  
}

/*Req 5*/
/*Add selector and rule here*/
*:focus{ /*universal selector for all focused elements*/
  border-width: 3px;/*3 px*/
  border-style: dashed; /*dashed border*/
  border-color: #417243;/*#417243 color*/

}


td, th{
  text-align: center; /*centered text*/
  border-top: 2px solid black; /*black border on top 2px*/
  padding: 10px; /*10 px padding on all sides*/
}

.colhead{
  color: #FFFFFF; /*white text*/
  text-transform:uppercase; /*uppercase*/
  min-width: 125px; /*always at least 125px wide*/ 
  padding: 10px;/*with 10px of padding*/
  text-align: center; /*centered horizontally and vertically*/
  background-color: #7e0825;/*dark red background (#7e0825)*/

}

.rowhead{
  border-right: 2px solid black;/*consistent 2px black border on the sides that aren’t touching an existing border.*/

}

table tr:nth-child(odd) {background-color: transparent;}/*Every odd numbered table row has a transparent background*/
table tr:nth-child(even) {background-color: #D1D1D1;}/*Every even numbered table row has a grey background (#D1D1D1)*/

tr:hover td, tr:hover th{
  background-color: rgba(126, 8, 37, .25);
}
/*Hovering over a row changes it to the same background color as the column header
but with an alpha transparency of .25 so don’t use hexadecimal.*/

table{
    border: 5px solid #000000;
    border-radius: 50px; /*50px radius rounded exterior CORNER CELLS*/
    
    margin-left: auto;
    margin-right: auto; /*Should be centered on a large screen*/
}

/* I gave you the selector, but not the property-value pair. 
You can use Inspect Element or your editor to find selectors. */

/*50px radius rounded TABLE CELL CORNERS*/
thead tr:first-child th:first-child{
  border-top-left-radius: 50px;
} /*top left*/
thead tr:first-child th:last-child{
  border-top-right-radius: 50px;
} /*top right*/
tbody tr:last-child th:first-child{
  border-bottom-left-radius: 50px;
} /*bottom left*/
tbody tr:last-child td:last-child{
  border-bottom-right-radius: 50px;
} /*bottom right*/


/*Add selectors and rules here*/



footer{
  width:100%;
  background:#000000;
  text-align:center;
  color: #FFFFFF;

  min-height: 75px; /*Footer is always at least 75px tall.*/
  
  position: fixed;
  bottom: 0; /*Footer is always at the bottom of the viewport*/ 
  
  left: 0;
  right: 0; /*takes the entire width from the left to right of the page, regardless of screen size.*/
}
